<header class="w-full px-4 pt-4 max-w-5xl mx-auto">
  <nav class="flex items-center justify-between flex-wrap">
    <div class="flex gap-2 items-center"> 
     <a href="{{ .Site.Home.Permalink }}" class="flex items-center font-bold leading-6">
        <p class="text-2xl mb-2 pr-2">🏡</p>   
       {{ .Site.Title }}
     </a>
   </div>
   

    <ul id="nav-menu" class="flex w-auto mt-0 space-x-2">
      {{ with .Site.GetPage "/about" }}
      <li>
        <a href="{{ .Permalink }}" class="hover:text-blue-800 dark:hover:text-blue-300">{{ .Title }}</a>
      </li>
      {{ end }}
      {{ with .Site.GetPage "/blog" }}
      <li>
        <a href="{{ .Permalink }}" class="hover:text-blue-800 dark:hover:text-blue-300">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
