<section class="my-4 max-w-5xl mx-auto">
  <div class="text-3xl font-bold mb-18"><a href="{{ .Site.Params.CV }}" class="pb-8" download>📩 Resume.pdf</a></div>

  <div class="grid grid-cols-2 mt-8 gap-4">
    <!-- Work Experience -->
    <div>
      <div class="text-2xl font-semibold mb-4">Working Experience</div>
      {{ range .Site.Params.homepage.resume.work}}
      <div>
        <div class="text-xl font-bold my-2">{{.name}}</div>
        <p class="my-1 font-light">{{.role}}</p>
        <p class="text-gray-500 my-1">{{.duration}}</p>
      </div>
      {{ end }}
    </div>

      <!-- Courses -->
      <div>
        <div class="text-2xl font-semibold mb-4">Certifications</div>
        {{ range .Site.Params.homepage.resume.certifications}}
        <div>
          <div class="text-xl font-bold my-2">{{.name}}</div>
          <p class="my-1 font-light">by {{.provider}}</p>
          <p class="text-gray-500 my-1">{{.duration}}</p>
        </div>
        {{ end }}
      </div>
    </div>

    <!-- Skills -->
    <div class="text-2xl font-semibold mb-4 mt-8">Skills</div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-6 md:grid-cols-3 md:gap-8 lg:grid-cols-4 lg:gap-12">
      {{ range .Site.Params.homepage.resume.skills }}
        <div>
          <div class="text-xl font-semibold mb-2">{{ .category }}</div>
          {{ range .items }}
            <div class="text-md font-light mb-2">{{ . }}</div>
          {{ end }}
        </div>
      {{ end }}
    </div>


    


</section>
